/* ボタンのスタイル */
.fingerButton {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
}

/* 押された時の状態 */
.pressed {
  background-color: #3b82f6;
  /* 青系の色 */
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dotLabel {
  font-size: 1.5rem;
  font-weight: bold;
}