/* BrailleCell.module.css */

/* BrailleCell 全体のコンテナ */
/* li要素に適用されるクラス */
.cellContainer {
  list-style: none;
}

/* グリッドコンテナの設定 */
.contentWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr 6fr;
  gap: 4px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  height: 220px;
  max-width: 640px;
}

/* 文字（ひらがな/カタカナ） */
.character {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
}

@media (width<=430px) {
  .longCharacter {
    /* 320px ～ 430px の間で 1.25rem ～ 2rem に線形スケーリング */
    font-size: clamp(1.25rem, calc(-0.9318rem + 0.6818vw), 2rem);
  }
}


/* SVG (指点字) の配置: 左上の領域 */
.fingerBraille {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/* 点番号のスタイル */
.dotNumbers {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-size: 0.8rem;
  font-weight: bold;
  color: #666;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* 点字のスタイル */
.brailleCharContainer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 2rem;
  border: 1px solid #666;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  height: 50px;
  max-width: 52px;
}

/* 点字のspanのスタイル */
.brailleCharContainer>span {
  display: inline-block;
  height: 48px;
  background-image: linear-gradient(
    transparent 15%,
    #ffdd8888 15%,
    #ddff8888 85%,
    transparent 85%);
}